<div class="page-content">
  <h2 class="page-heading">Game control</h2>
  <div class="control-panel d-flex justify-content-center mb-3">
    <div class="btn-group btn-group-lg">
      <button class="btn btn-success" (click)="start()">start</button>
      <button class="btn btn-warning" [disabled]="!isInitialized" (click)="stop()">stop</button>
      <button class="btn btn-danger" (click)="clear()">clear</button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="even text-right">
        <h4>Even</h4>
        <app-even-number *ngFor="let even$ of numberGenerator.getEvenNumbers() | async" [value]="even$"></app-even-number>
      </div>
    </div>
    <div class="col-6">
      <div class="even">
        <h4>Odd</h4>
        <app-odd-number *ngFor="let odd$ of numberGenerator.getOddNumbers() | async" [value]="odd$"></app-odd-number>
      </div>
    </div>
  </div>
</div>
